.venv
.env
*/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info
*.egg
*.log
*.coverage
*.mypy_cache
*.pytest_cache
*.hypothesis
*.coverage.*
*.cover
*.hypothesis.*
*.hypothesis
*.hypothesis.*.json
*.hypothesis.*.xml
